<form action="" method="post" name="frmcatalogsample" id="frmcatalogsample">
	{{ content }}
	<input type="hidden" name="view" value="catalog" id="view"/>
	<input type="hidden" name="option" id="option" value="com_redshop"/>
	<input type="hidden" name="Itemid" value="{{ itemId }}"/>
	<input type="hidden" name="task" value="catalogsample_send"/>
	<input type="hidden" name="layout" value="{{ layout }}"/>
</form>