
/*  Style Sheet For logging greeting Module */

div.logingreeting div.mod_logingreeting{
	
 	height:20px; 
 	line-height: 20px;		
	text-align: center;	
	font-weight: bold;
	font-size: 12px;	
	text-transform: uppercase;
	letter-spacing: 1px;
 		
}

div.loginname div.mod_logingreeting{
	
	text-decoration: none;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;	
	font-weight: bold;
	font-size: 12px;	
	text-transform: uppercase;
	letter-spacing: 1px;
}
