<a href="{{ link }}" class="modal" rel="{handler: iframe, size: {x: 570, y: 550}}">
    <button type=button class="greenbutton btn btn-primary">{{ jtext('COM_REDSHOP_REQUEST_QUOTATION') }}</button>
</a>