

/*******************************Product attribute **********************************/
.cursor {
	cursor:hand;
	cursor:pointer;
}
 
.att_inactive, .att_active {
	margin:0 1px;
	float:left;
	width:50px;
	height:50px;
	border:1px solid #E7E7E7;
	padding:2px;
	background:#FFFFFF;
}
/*******************************Product attribute **********************************/

/******************************* Hoverbox Code*******************************/
.redhoverImagebox
{
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
	cursor: default;
	list-style: none;
	width:100px;
	float:left;
}

.redhoverImagebox a
{
	cursor: pointer;
}

.redhoverImagebox a .redImagepreview
{
	display: none;
}

.redhoverImagebox a:hover .redImagepreview
{
	cursor: pointer;
	background: #eee;
	color: inherit;	
	border: 1px solid black;
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}
