# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/

# Eclipse
.buildpath
.project
.settings

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Phing build script
build.properties

# composer
composer.lock
composer.phar
vendor/*

# Test related files
/tests/system/servers/configdef.php
/tests/system/webdriver/tests/logs/

# Never ignore
!.gitignore
!index.html
!index.php