[submodule ".travis/phpcs/Joomla"]
	path = .travis/phpcs/Joomla
	url = https://github.com/joomla/coding-standards
[submodule "tests/system/joomla-cms"]
	path = tests/system/joomla-cms
	url = git@github.com:joomla/joomla-cms.git
