{
	"wwwDir"        : "/tests/www/tests/joomla-cms",
	"browserConfig" : {
		"proxy" : "redshop.local"
	},
	"release_dir"   : "/tests/www/tests/releases-redshop/",
	"basePaths": {
		 "plugins" : "./plugins",
		 "modules" : "./modules"
		},
	"php_dir" : "php"
}
