.red_product-skin-tango .red_product-container {
    background: url('bg.png');
}

.red_product-skin-tango .red_product-container-horizontal {
    width: 860px;	
    padding-top: 17px;
    padding-bottom: 17px;	
    padding-left: 20px;
    padding-right: 20px;		
}

.red_product-skin-tango .red_product-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.red_product-skin-tango .red_product-clip-horizontal {
    width:  860px;
    height: 90px;
}

.red_product-skin-tango .red_product-clip-vertical {
    width:  75px;
    height: 245px;
}

.red_product-skin-tango .red_product-item {
	background: url(bg2.png) no-repeat 0px 0px;
	padding:5px;
    width: 80px;
    height: 80px;
}

.red_product-skin-tango .red_product-item:hover {
	background-position: 0px -90px;
	cursor:pointer;
}

.red_product-skin-tango .red_product-item-horizontal {
    margin-right: 20px;
}

.red_product-skin-tango .red_product-item-vertical {
    margin-bottom: 10px;
}

.red_product-skin-tango .red_product-item-placeholder {
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.red_product-skin-tango .red_product-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
}

.red_product-skin-tango .red_product-next-horizontal:hover {
    background-position: -32px 0;
}

.red_product-skin-tango .red_product-next-horizontal:active {
    background-position: -64px 0;
}

.red_product-skin-tango .red_product-next-disabled-horizontal,
.red_product-skin-tango .red_product-next-disabled-horizontal:hover,
.red_product-skin-tango .red_product-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.red_product-skin-tango .red_product-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.red_product-skin-tango .red_product-prev-horizontal:hover {
    background-position: -32px 0;
}

.red_product-skin-tango .red_product-prev-horizontal:active {
    background-position: -64px 0;
}

.red_product-skin-tango .red_product-prev-disabled-horizontal,
.red_product-skin-tango .red_product-prev-disabled-horizontal:hover,
.red_product-skin-tango .red_product-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.red_product-skin-tango .red_product-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/../images/next-vertical.png) no-repeat 0 0;
}

.red_product-skin-tango .red_product-next-vertical:hover {
    background-position: 0 -32px;
}

.red_product-skin-tango .red_product-next-vertical:active {
    background-position: 0 -64px;
}

.red_product-skin-tango .red_product-next-disabled-vertical,
.red_product-skin-tango .red_product-next-disabled-vertical:hover,
.red_product-skin-tango .red_product-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.red_product-skin-tango .red_product-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.red_product-skin-tango .red_product-prev-vertical:hover {
    background-position: 0 -32px;
}

.red_product-skin-tango .red_product-prev-vertical:active {
    background-position: 0 -64px;
}

.red_product-skin-tango .red_product-prev-disabled-vertical,
.red_product-skin-tango .red_product-prev-disabled-vertical:hover,
.red_product-skin-tango .red_product-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
