/* product Finder */
.select_box_parent {
	cursor: pointer;
	display: block;
}
.select_box_child {
	display: none;
}
/* Icon files 48px */

/* redshop menu */
.icon-48-importexport48 {
	background-image: url(../images/importexport48.png);
}
.icon-32-redshop_importexport32,
.icon-redshop_importexport32 {
	background-image: url(../images/importexport32.png);
}
.icon-48-redshop_redshopcart48 {
	background-image: url(../images/redshopcart48.png);
}
/* redshop statistics icon */

.icon-48-redshop_statistic48 {
	background-image: url(../images/statistic48.png);
}

.page-title .icon-redshop_261-x-88{
	background-image: url("../images/redshop_white.png");
}

.icon-48-redshop_261-x-88{
	background-image: url("../images/redshop.png");
}

.icon-48-redshop_261-x-88,
.page-title .icon-redshop_261-x-88 {
	height: 45px;
	width: 199px;
	background-repeat: no-repeat;
}

/* catalog management */

.icon-48-redshop_catalogmanagement48 {
	background-image: url(../images/catalogmanagement48.png);
}
/* category management */

.icon-48-redshop_categories48 {
	background-image: url(../images/categories48.png);
}
/* configuration management */

.icon-48-redshop_icon-48-settings {
	background-image: url(../images/icon-48-settings.png);
}
/* configuration management */

.icon-32-redshop_icon-32-settings,
.icon-redshop_icon-32-settings{
	background-image: url(../images/configuration_32.png);
}

.btn-small [class*="icon-"]{
	background-size: 14px;
	background-repeat: no-repeat;
}

/* configuration management */

.icon-48-redshop_icon-48-giftcard {
	background-image: url(../images/giftcard_48.png);
}
/* country management */

.icon-48-redshop_icon-48-country {
	background-image: url(../images/country_48.png);
}
/* state management */

.icon-48-redshop_icon-48-region {
	background-image: url(../images/region_48.png);
}
/* currency management */

.icon-48-redshop_icon-48-currencies {
	background-image: url(../images/currencies_48.png);
}
/* question management */

.icon-48-redshop_question48 {
	background-image: url(../images/question_48.jpg);
}
/* quotation management */

.icon-48-redshop_quotation48 {
	background-image: url(../images/quotation_48.jpg);
}
/* coupon management */

.icon-48-redshop_coupon48 {
	background-image: url(../images/coupon48.png);
}
/* discount management */

.icon-48-redshop_discountmanagmenet48 {
	background-image: url(../images/discountmanagmenet48.png);
}
/* export management */

.icon-48-redshop_export48 {
	background-image: url(../images/export48.png);
}
/* Fields management */

.icon-48-redshop_fields48 {
	background-image: url(../images/fields48.png);
}
/* Import management */

.icon-48-redshop_mailcenter48 {
	background-image: url(../images/import48.png);
}
/* Mail management */

.icon-48-redshop_mailcenter48 {
	background-image: url(../images/mailcenter48.png);
}
/* Manufacturer management */

.icon-48-redshop_manufact48 {
	background-image: url(../images/manufact48.png);
}
/* Giftcard management */

.icon-48-redshop_giftcard_48 {
	background-image: url(../images/giftcard_48.png);
}
/* Country management */

.icon-48-redshop_country_48 {
	background-image: url(../images/country_48.png);
}
/* State management */

.icon-48-redshop_region_48 {
	background-image: url(../images/region_48.png);
}
/* Currency management */

.icon-48-redshop_currencies_48 {
	background-image: url(../images/currencies_48.png);
}
/* Media management */

.icon-48-redshop_media48 {
	background-image: url(../images/media48.png);
}
/* Newsletter management */

.icon-48-redshop_newsletter48 {
	background-image: url(../images/newsletter48.png);
}
/* Order management */

.icon-48-redshop_order48 {
	background-image: url(../images/order48.png);
}
/* Payment management */

.icon-48-redshop_payment48 {
	background-image: url(../images/payment48.png);
}
/* Product management */

.icon-48-redshop_products48 {
	background-image: url(../images/products48.png);
}
/* Import management */

.icon-48-redshop_import48 {
	background-image: url(../images/import48.png);
}
/* Color Sample management */

.icon-48-redshop_colorsample48 {
	background-image: url(../images/colorsample48.png);
}
/* Shipping management */

.icon-48-redshop_shipping48 {
	background-image: url(../images/shipping48.png);
}
/* Shipping management */

.icon-48-redshop_stockroom48 {
	background-image: url(../images/stockroom48.png);
}
/* Export management */

.icon-48-redshop_vatgroup48 {
	background-image: url(../images/vatgroup_48.png);
}
/* Vat( tax ) management */

.icon-48-redshop_vatrates48 {
	background-image: url(../images/vatrates48.png);
}
/* Templates management */

.icon-48-redshop_templates48 {
	background-image: url(../images/templates48.png);
}
/* Textlibrary management */

.icon-48-redshop_textlibrary48 {
	background-image: url(../images/textlibrary48.png);
}
/* Textlibrary management */

.icon-48-redshop_user48 {
	background-image: url(../images/user48.png);
}
/* Voucher management */

.icon-48-redshop_voucher48 {
	background-image: url(../images/voucher48.png);
}
/* Voucher management */

.icon-48-redshop_rating48 {
	background-image: url(../images/rating48.png);
}
/* Vat management */

.icon-48-redshop_vat48 {
	background-image: url(../images/vatrates48.png);
}
/* wrapper management */

.icon-48-redshop_wrapper48 {
	background-image: url(../images/wrapper48.png);
}
/* Shipping Box management */

.icon-48-redshop_shipping_box48 {
	background-image: url(../images/shipping_boxes48.png);
}
/* Icon files 32px */

/* redshop menu */

.icon-32-redshop_redshopcart32 {
	background-image: url(../images/redshopcart32.png);
}
/* Shipping Box management */

.icon-48-redshop_shipping_box32 {
	background-image: url(../images/shipping_boxes32.png);
}
/* redshop statistics icon */

.icon-32-redshop_statistic32,
.icon-redshop_statistic32 {
	background-image: url(../images/statistic32.png);
}
/* catalog management */

.icon-32-redshop_catalogmanagement32 {
	background-image: url(../images/catalogmanagement32.png);
}
/* category management */

.icon-32-redshop_categories32 {
	background-image: url(../images/categories32.png);
}
/* coupon management */

.icon-32-redshop_coupon32 {
	background-image: url(../images/coupon32.png);
}
/* TaxGroup management */

.icon-32-redshop_taxgroup_taxgroup32 {
	background-image: url(../images/vatgroup_32.png);
}
/* Tax management */

.icon-32-redshop_tax_tax32 {
	background-image: url(../images/vatrates32.png);
}
/* discount management */

.icon-32-redshop_discountmanagmenet32 {
	background-image: url(../images/discountmanagmenet32.png);
}
/* export management */

.icon-32-redshop_export32 {
	background-image: url(../images/export32.png);
}
/* Fields management */

.icon-32-redshop_fields32 {
	background-image: url(../images/fields32.png);
}
/* Import management */

.icon-32-redshop_mailcenter32 {
	background-image: url(../images/import32.png);
}
/* Import management */

.icon-32-redshop_import_import32 {
	background-image: url(../images/import32.png);
}
/* Export management */

.icon-32-redshop_export_export32 {
	background-image: url(../images/export32.png);
}
/* Mail management */

.icon-32-redshop_mailcenter32 {
	background-image: url(../images/mailcenter32.png);
}
/* Manufacturer management */

.icon-32-redshop_manufact32 {
	background-image: url(../images/manufact32.png);
}
/* Media management */

.icon-32-redshop_media32 {
	background-image: url(../images/media32.png);
}
/* Newsletter management */

.icon-32-redshop_newsletter32 {
	background-image: url(../images/newsletter32.png);
}
/* Order management */

.icon-32-redshop_order32 {
	background-image: url(../images/order32.png);
}
/* Payment management */

.icon-32-redshop_payment32 {
	background-image: url(../images/payment32.png);
}
/* Product management */

.icon-32-redshop_products32 {
	background-image: url(../images/products32.png);
}
/* Color Sample management */

.icon-32-redshop_colorsample32 {
	background-image: url(../images/colorsample32.png);
}
/* Shipping management */

.icon-32-redshop_shipping32 {
	background-image: url(../images/shipping32.png);
}
/* Shipping management */

.icon-32-redshop_stockroom32 {
	background-image: url(../images/stockroom32.png);
}
/* Vat( tax ) management */

.icon-32-redshop_vatrates32 {
	background-image: url(../images/vatrates32.png);
}
/* Templates management */

.icon-32-redshop_templates32 {
	background-image: url(../images/templates32.png);
}
/* Textlibrary management */

.icon-32-redshop_textlibrary32 {
	background-image: url(../images/templates32.png);
}
/* Textlibrary management */

.icon-32-redshop_user32 {
	background-image: url(../images/user32.png);
}
/* Voucher management */

.icon-32-redshop_voucher32 {
	background-image: url(../images/voucher32.png);
}
/* Voucher management */

.icon-48-redshop_shipping_rates48 {
	background-image: url(../images/shipping_rates_48.png);
}
/* Voucher management */

.icon-32-redshop_shipping_rates32 {
	background-image: url(../images/shipping_rates_32.png);
}
/* wrapper management */

.icon-32-redshop_wrapper32 {
	background-image: url(../images/wrapper32.png);
}
/* attributeBank management */

.icon-32-redshop_attribute_bank32 {
	background-image: url(../images/attribute_bank32.png);
}
/* Shipping management */

.icon-48-redshop_attribute_bank48 {
	background-image: url(../images/attribute_bank48.png);
}
.selectedimg {
	border: 2px solid #000000;
}
.pointer {
	cursor: pointer;
}
/* Accounting Group Icon*/

.icon-48-redshop_accountgroup48 {
	background-image: url(../images/accounting_group48.png);
}
.icon-32-redshop_accountgroup32 {
	background-image: url(../images/accounting_group32.png);
}
.icon-48-redshop_configwizrd48 {
	background-image: url(../images/wizard_48.png);
}
.icon-32-redshop_configwizrd32,
.icon-redshop_configwizrd32 {
	background-image: url(../images/wizard_32.png);
}
.distitle {
	font-family: inherit;
	font-size: 12px;
	color: gray;
	padding-left: 5px;
	font-weight: bold;
	height: 30;
}
.icon-32-gbase {
	background-image: url(../images/gbase.png);
}
.icon-32-print_f2 {
	background-image: url(../images/print_f2.png);
}
.icon-32-gbase {
	background-image: url(../images/gbase.png);
}
.icon-32-print_f2 {
	background-image: url(../images/print_f2.png);
}
/* standard style for redSHOP */

fieldset.adminform label.radiobtn, table.admintable label.radiobtn {
	clear: none;
	min-width: 45px;
	float: left;
	margin: 3px 0 0 5px;
}
/* standard form style table */

div.col50 fieldset {
	background-color: #fff;
	padding: 5px 17px 17px 17px;
}
div.width-45 {
	width: 45%;
}
div.width-55 {
	width: 55%;
}
div.width-50 {
	width: 50%;
}
div.width-70 {
	width: 70%;
}
div.width-30 {
	width: 30%;
}
div.width-60 {
	width: 60%;
}
div.width-40 {
	width: 40%;
}
table.admintable td {
	padding: 3px;
}
table.admintable td.key, table.admintable td.paramlist_key {
	background-color: #f6f6f6;
	/*text-align: right;
  width: 140px;*/
	text-align: left;
	width: 180px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
table.paramlist td.paramlist_description {
	background-color: #f6f6f6;
	text-align: left;
	width: 170px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
table.admintable td.key.vtop {
	vertical-align: top;
}
table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace {
	margin-bottom: 0;
}
table.adminform tr.row0 {
	background-color: #f9f9f9;
}
table.adminform tr.row1 {
	background-color: #eeeeee;
}
table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
table.adminform td {
	padding: 3px;
	text-align: left;
}
table.adminform td.filter {
	text-align: left;
}
table.adminform td.helpMenu {
	text-align: right;
}
table.adminform td.helpMenu {
	text-align: right;
}
.sub_attribute {
	background: #f0f0f0;
	border: 1px solid #ccc;
}
fieldset.adminform {
	border: 1px solid #ccc;
	margin: 0 10px 10px 10px;
}
hr {
	border: 1px solid #EDEDED;
}
fieldset.adminform {
	border: 1px solid #ccc;
	margin: 0 10px 10px 10px;
}

.red_blue_blue {
	font-size: 12px;
	font-weight: bold;
	color: #156394;
}

div.current label, div.current span.faux-label {
	float: none !important;
	display: inline !important;
	}

div.current select, div.current input, div.current textarea, div.current select {
	margin: 0 !important;
	float: none !important;
}
.arrowimg {
	padding: 3px;
	cursor: pointer;
}

.input-xmini
{
	width: 30px;
}
.attr_tbody
{
	border-top: 1px solid #080808;
	padding: 5px 0 0 0;
}
.showhidearrow{
	display: block;
}
.attribute_table{
	margin: 0 0 15px 0 !important;
}
.oneAttribute{
	padding: 10px 5px;
	background: #E7EEF4;
	border: 1px solid #ccc;
	margin-left: 0 !important;
}
.attribute_table_pro{
	padding: 5px;
	margin-left: 0 !important;
	background: #eee;
	border: 1px solid #ccc;
}
.attribute_parameter_tr{
	border: 1px solid #ccc;
	background: #a9dba9;
	padding: 5px;
	margin-left: 0 !important;
}
.showsubproperty{
	padding: 5px 0;
}
.sub_attribute_table{
	padding: 10px 0;
	border-top: 1px solid #3a87ad;
}
.subAttrMedia{
	margin: 5px 0 0 0 !important;
}
.attrSecondRow{
	padding: 0 0 5px 0;
}
.searchSelect2{
	width: 220px;
}
.input-append, .input-prepend {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.filterItem {
	display: inline-block;
	margin: 0 5px 5px 0;
}
.filterItem .input-append, .filterItem .input-prepend{
	margin-bottom: 0;
}