/*
================================================
redSHOP wizard styling
================================================
*/

div.welcome_wizard
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
}

div.wizard_welcome_terms
{
	color: red;
}

div.wizard_intro_text
{
	font-weight: bold;
}

div.wizard_header
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

table.admintable td.general_admin_email_info_txt,
td.registration_intro_text,
td.tandc_intro_text,
td.welcomepage_intro_text,
td.registration_page_intro_text,
td.price_intro_text,
td.vat_intro_text,
td.apply_vat_discount_intro_text,
td.discount_type_intro_text,
td.discount_enable_intro_text,
td.coupons_enable_intro_text,
td.voucher_enable_intro_text
{
	font-weight: bold;
}

div.discount_intro_text
{
	font-weight: bold;
}

table.admintable td.key
{
	width: 150px !important;
}

.submenu-box, div.m
{
	background: none !important;
}

.submenu-box, div.m
{
	border-radius: 0 !important;
}

div.t, div.b {
	height: 0;
	margin: 0;
	background: none;
}

body #content-box div.padding {
	padding: 0;
}

body div.m {
	padding: 0;
	border: 0;
}

.button1-right {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right .prev {
	float: left;
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_button1_prev.png) no-repeat;
}

.button-previous{
	border:0;
	background: none;
	font-size: 11px;
	height: 26px;
	line-height: 24px;
	padding-left: 30px;
	cursor: pointer;
}

.button1-left {
	background: transparent url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_button1_left.png) no-repeat scroll 0 0;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}
.button1-left .next {
	background: transparent url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_button1_next.png) no-repeat scroll 100% 0;
	float: left;
	cursor: pointer;
}

.button1-left .exit {
	background: transparent url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_button1_admin.png) no-repeat scroll 100% 0;
	float: left;
	cursor: pointer;
}

.button-next{
	border: 0;
	background: none;
	font-size: 11px;
	height: 26px;
	line-height: 24px;
	padding-right: 30px;
	cursor: pointer;
}

h1.steps{
	color:#0B55C4;
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding-bottom:8px;
}

div.steps {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 12px;
	padding-top: 10px;
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_divider.png) 0 100% repeat-x;
}

div.on {
	color:#0B55C4;
}

#toolbar-box,
#submenu-box,
#header-box {
	display: none;
}

div#cElement-box div.t, div#cElement-box div.b {
	height: 6px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div#cElement-box div.m {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px 8px;
}

div#cElement-box div.t {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 0 repeat-x;
}

div#cElement-box div.t div.t {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#cElement-box div.t div.t div.t {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tl_light.png) 0 0 no-repeat;
}

div#cElement-box div.b {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 100% repeat-x;
}

div#cElement-box div.b div.b {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_br_light.png) 100% 0 no-repeat;
}

div#cElement-box div.b div.b div.b {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_bl_light.png) 0 0 no-repeat;
}
#stepbar {
	float: left;
	width: 170px;
}

#stepbar div.box {
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard_48.png) 0 0 no-repeat;
	height: 140px;
	background-position: center;
}

#stepbar h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 20px;
	color: #0B55C4;
	font-weight: bold;
	background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_divider.png) 0 100% repeat-x;
}

div#stepbar {
  background: #f7f7f7;
}

div#stepbar div.t {
  background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 0 repeat-x;
}

div#stepbar div.t div.t {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#stepbar div.t div.t div.t {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#stepbar div.b {
  background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 100% repeat-x;
}

div#stepbar div.b div.b {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#stepbar div.b div.b div.b {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_bl_dark.png) 0 0 no-repeat;
}

div#stepbar div.t, div#stepbar div.b {
	height: 6px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

div#stepbar div.m,
div#cToolbar-box div.m {
	padding: 0 8px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

div#cToolbar-box {
	background: #f7f7f7;
	position: relative;
}

div#cToolbar-box div.m {
	padding: 0;
	height: 30px;
}

div#cToolbar-box {
	background: #fbfbfb;
}

div#cToolbar-box div.t,
div#cToolbar-box div.b {
	height: 6px;
}

div#cToolbar-box span.title {
	color: #0B55C4;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 6px;
}

div#cToolbar-box div.t {
  background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 0 repeat-x;
}

div#cToolbar-box div.t div.t {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tr_med.png) 100% 0 no-repeat;
}

div#cToolbar-box div.t div.t div.t {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_tl_med.png) 0 0 no-repeat;
}

div#cToolbar-box div.b {
  background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_border.png) 0 100% repeat-x;
}

div#cToolbar-box div.b div.b {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_br_med.png) 100% 0 no-repeat;
}

div#cToolbar-box div.b div.b div.b {
   background: url('.JURI::root().'administrator/components/com_redshop/assets/images/wizard/j_crn_bl_med.png) 0 0 no-repeat;
}