/*
================================================
redSHOP wizard styling
================================================
*/

div.wizard_welcome_terms
{
	color: red;
}

div.welcome_wizard
{
	padding-top: 20px;
	line-height: 30px;
}

div.wizard_intro_text h2
{
	background: transparent url(../images/icon_check.png) left center no-repeat;
	padding-left: 25px;
}

.wizard_basic_info h2
{
	background: transparent url(../images/icon_setup.png) left center no-repeat;
	padding-left: 25px;
}

.wizard_redshop_feature
{

}

.wizard_checkupdate,
.wizard_redshoplogo
{
	margin-top: 30px;
}

.wizard_redshoplogo,
.wizard_redcomponent,
.wizard_checkupdate
{
	float: left;
	clear: both;
}

table.admintable td.general_admin_email_info_txt,
td.registration_intro_text,
td.tandc_intro_text,
td.welcomepage_intro_text,
td.registration_page_intro_text,
td.price_intro_text,
td.vat_intro_text,
td.apply_vat_discount_intro_text,
td.discount_type_intro_text,
td.discount_enable_intro_text,
td.coupons_enable_intro_text,
td.voucher_enable_intro_text
{
	font-weight: bold;
}

div.discount_intro_text
{
	font-weight: bold;
}

table.admintable td.key
{
	width: 150px !important;
}

.submenu-box, div.m
{
	background: none !important;
}

.submenu-box, div.m
{
	border-radius: 0 !important;
}

div.t, div.b {
	height: 0;
	margin: 0;
	background: none;
}

body #content-box div.padding {
	padding: 0;
}

body div.m {
	padding: 0;
	border: 0;
}


div.on {
	color:#0B55C4;
}

#toolbar-box,
#submenu-box,
#header-box {
	display: none;
}

