<form name="wishlishtsend" method="post" action="">
    {{ content }}
    <input type="hidden" name="option" value="com_redshop" />
    <input type="hidden" name="window" value="1" />
    <input type="hidden" name="task" value="sendWishlist" />
    <input type="hidden" name="Itemid" value='{{ itemId }}'/>
    <input type="hidden" name="wishlist_id" value='{{ wishlistId }}'/>
    <input type="hidden" name="view" value="account" />
</form>