
/*  Style Sheet For Discount Module */


div.mod_discount_main{
	display: block;	
	font-weight: bold;	
	text-transform: uppercase;
	letter-spacing: 1px;
	background: none;
	/* background: url(../images/rabat_paa_dit_koeb.jpg) top right no-repeat; */
}
div.mod_discount_main div.mod_discount_title{

			
	margin-left:55px;
	width:110px;
	height:65px;
	text-align: right;
	line-height:30px;
	font-size: 20px;	
}
div.mod_discount_main div.mod_discount_spacer{
	float: left;	
}
div.mod_discount_main div.mod_discount_main_value{
	
	height:125px;	
}
