<form name="template_selecter_form" action="" method="post">
    {{ listCategoryTemplate }}
    <input type="hidden" name="manufacturer_id" id="manufacturer_id" value="{{ manufacturerId }}"/>
    <input type="hidden" name="order_by" id="order_by" value="orderBySelect"/>
</form>