#pricefilter {
    margin: 0 auto;
    font-size: 12px;
}
.left {
    float: left;
}
.clear {
    clear: both
}
#leftSlider {
    width: 100%;
}
#blankfilter {
    padding: 30px;
}
#range {
    margin-bottom: 20px;
}
#productsWrap {
    clear: both;
    position: relative
}
#products ul {
    list-style: none;
    margin: 0px;
    padding: 0px
}
#products ul li {
    background-color: #333333;
    float: left;
    height: 127px;
    margin: 4px;
    padding: 8px;
    width: 190px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    position: relative;
}
.price-tag {
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-radius-bottomright: 6px;
    -webkit-border-radius-topright: 6px;
    -khtml-border-radius-bottomright: 6px;
    -khtml-border-radius-topright: 6px;
    -moz-box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    -khtml-box-shadow: 0px 0px 4px #000;
    background-color: #C6CF6B;
    bottom: 22px;
    color: #000000;
    font-weight: bold;
    left: 8px;
    padding: 6px;
    position: absolute;
}
#amount {
    font-size: 14px;
    text-shadow: 0px 1px 0px #ccc
}
#ajaxMessage {
    position: absolute;
    z-index: 999;
    color: crimson;
    font-size: 20px;
    display: none
}
