<div class="mod_cart_main">
    <div class="mod_cart_top">
        <div class="mod_cart_image"></div>
        <div class="mod_cart_title">{{ jtext('MOD_REDSHOP_CART_CART_TEXT') }}</div>
    </div>
    <div class="mod_cart_total" id="mod_cart_total">
        {{ cartHtml }}
    </div>
    <div class="mod_cart_checkout" id="mod_cart_checkout_ajax">
        <?php if ($count || $show_empty_btn): ?>
            <a href="<?php echo JRoute::_("index.php?option=com_redshop&view=cart&Itemid=" . $itemId); ?>">
                <?php echo $displayButton; ?>
            </a>
        <?php endif; ?>
    </div>
</div>

<script type="text/javascript" src="{{ jsModUrl }}"/>
