<div class="mod_cart_main">
    <!-- // Tweak by Ronni - mod_cart_top display:none -->
    <div class="mod_cart_top" style="display:none!important">
        <div class="mod_cart_image"></div>
        <div class="mod_cart_title">{{ jtext('MOD_REDSHOP_CART_CART_TEXT') }}</div>
    </div>
    <div class="mod_cart_total" id="mod_cart_total">
        {{ cartHtml }}
    </div>
        <!-- // Tweak by Ronni START - Move <div class="mod_cart_checkout".... -->
        {% if (count or showEmptBtn) %}
            <a href="{{ jroute("index.php?option=com_redshop&view=cart&Itemid=#{ itemId }") }}">
                <div class="mod_cart_checkout" id="mod_cart_checkout_ajax">
                    {{ displayButton }}
                </div>
            </a>
        {% endif %}
        <!-- // Tweak by Ronni END - Move <div class="mod_cart_checkout".... -->
</div>