<div class="mod_cart_main">
    <div class="mod_cart_total" id="mod_cart_total">
        {{ cartHtml }}
    </div>
    {% if (count or showEmptBtn) %}
    <a href="{{ jroute(" index.php?option=com_redshop&view=cart&Itemid=#{ itemId }") }}">
        <div class="mod_cart_checkout" id="mod_cart_checkout_ajax">
            {{ displayButton }}
        </div>
    </a>
    {% endif %}
</div>