<div class="product">
    <div class="componentheading{{ params.get('pageclass_sfx') }}">
        {% if data.pageheading %}
            {{ db.escape(data.pageheading) }}
        {% else %}
            {{ db.escape(pageHeadingTag) }}
        {% endif %}
    </div>
</div>
<div style="clear:both"></div>