<div class="product">
    <div class="componentheading{{ params.get('pageclass_sfx') }}">
        {% if pageheading %}
            {{ pageheading }}
        {% else %}
            {{ pageHeadingTag }}
        {% endif %}
    </div>
</div>
<div style="clear:both"></div>