<div class="product_name">
    <a href="{{ link }}">{{ text }}</a>
</div>
{% if isPromotionAward == true %}
<div class="redshop_product_promotion">
    {{ jtext('COM_REDSHOP_PRODUCT_PROMOTION') }}
</div>
{% endif %}