<a  onclick="setZoomImagepath(this)"
   title="{{ product.product_name }}"
   id="rsZoom_image{{ product.product_id }}"
   href="{{ sendLink }}" rel="lightbox[gallery]">
    <div class='zoom_image' id='rsDiv_zoom_image'>{{ jtext('SEND_MAIL_IMAGE_LBL') }}</div>
</a>