#modredshop_cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#modredshop_cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 97px;
	width: 108px;
	color: #666666;
	vertical-align: middle;
	text-decoration: none;
}

#modredshop_cpanel div.icon a:hover {
	background:#F9F9F9 none repeat scroll 0 0;
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#0B55C4;
}

#modredshop_cpanel span {
	display: block;
	text-align: center;
}

#modredshop_cpanel img {
	padding: 10px 0;
	margin: 0 15px 0 0;
}
