{% if setrequireSelected == 1 %}
    {% if 'ASTERISK_POSITION'|redconfig > 0 %}
        {{ displayPropertyName }}
        <span id="asterisk_right"> * </span>
        {% esle %}
        <span id='asterisk_left'>* </span>
        {{ displayPropertyName }}
    {% endif %}
{% else %}
    {{ displayPropertyName }}
{% endif %}