<form style="padding:0px;margin:0px;" name="empty_cart" method="POST">
    <input type="hidden" name="task" value="empty_cart">
    <input type=button class="blackbutton btn" value="{{ jtext('COM_REDSHOP_EMPTY') }}"
           onclick="document.empty_cart.submit();">
</form>