<form style="padding:0px;margin:0px;" name="update_cart" method="POST" >
    <input class="inputbox" type="hidden" value="" name="quantity_all" id="quantity_all">
    <input type="hidden" name="task" value="">
    <input type="hidden" name="Itemid" value="{{ itemId }}">
    <input type=button class="blackbutton btn btn-primary" value="{{ jtext('COM_REDSHOP_UPDATE') }}" onclick="all_update({{ idx }});">
</form>