<div id="pricefilter">
    <div class="left" id="leftSlider">
        <div id="range">{{ jtext('COM_REDSHOP_PRICE') }}: <span id="redcatamount"> </span></div>
        <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="redcatslider">
            <div style="left: 52.381%; width: 0%;" class="ui-slider-range ui-widget-header"></div>
            <a style="left: 52.381%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
            <a style="left: 52.381%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
        </div>
    </div>
    <div class="left" id="blankfilter"></div>
    <div class="left" id="productsWrap">
        <div style="display: none;" id="ajaxcatMessage">{{ jtext('COM_REDSHOP_LOADING') }}</div>
    </div>
</div>