<form name="template_selecter_form" action="" method="post" >
    {{ lists['category_template'] }}
    <input type="hidden" name="order_by" id="order_by" value="{{ orderBySelect }}"/>
    <input type="hidden" name="manufacturer_id" id="manufacturer_id" value="{{ manufacturerId }}"/>
</form>